@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:600,700|Work+Sans');

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
}

h2,
h3,
h4,
h5 {
  font-family: 'Josefin Slab', serif;
  font-weight: 600;
}

h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 6rem 0 3rem 0;
  text-align: center;
}

section,
footer {
  margin-top: 5rem;
}

.container-fluid,
.container {
  margin: 0 5rem;
}

.container {
  max-width: 1200px;
}

@media screen and (max-width: 768px) {
  .container-fluid,
  .container {
    margin: 0 2rem !important;
  }
  body {
    font-size: 1.6rem;
  }
  h3 {
    font-weight: bold;
  }
  [class*='-small-10'] {
    grid-column: auto/span 10 !important;
  }
  [class*='-small-8'] {
    grid-column: auto/span 8;
  }
  .small-hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hide-large,
  .mobile-seperator {
    display: none !important;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    margin: 0 auto;
  }
}

.octave-logo {
  width: 20rem;
}
