---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
---

<Layout
  title="Page non trouvée | Octave"
  description="Cette page n'existe pas"
  keywords="Octave"
>
  <Section>
    <h1>Page non trouvée</h1>
    <p>Vous venez d'accéder à une page qui n'existe pas.</p>
  </Section>
</Layout>
