---
import CallToAction from '../CallToAction.astro';
---

<div class="hero">
  <div class="grid-12 container has-gutter">
    <div class="col-1"></div>
    <div class="col-6-small-10">
      <p class="big">
        Des repas sains et variés pour toute la famille, sans prise de tête
      </p>
      <p class="less-big">
        L'application mobile qui vous fait gagner un temps précieux dans votre
        cuisine et pour vos courses
      </p>
      <CallToAction class="green">Je m'inscris</CallToAction>
    </div>
    <div class="iphonex-container col-4">
      <img
        class="iphonex"
        src="/images/iphonex-mockup.png"
        alt="L'application Octave ouverte dans un iPhone avec les trois menus principaux visibles : planifier ses repas, faire ses courses, cuisiner les recettes"
      />
    </div>
    <div class="col-1"></div>
  </div>
</div>

<style>
  .hero {
    margin-bottom: 20rem;
    padding: 12rem 0 2rem 0;
    background: #6cc566 url('/images/bg-pattern-2.png') no-repeat bottom left;
    background-size: 20%;
    text-align: center;
    color: white;
    z-index: 1;
  }
  .hero .big,
  .hero .less-big {
    margin-bottom: 4rem;
  }
  .hero p.big {
    font-size: 4.2rem;
  }
  .hero p.less-big {
    font-size: 2.8rem;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    margin-bottom: 6rem;
  }
  .hero .iphonex-container {
    position: relative;
  }
  .hero .iphonex-container .iphonex {
    position: absolute;
    max-width: 30rem;
  }
  @media screen and (max-width: 1215px) {
    .hero .iphonex-container {
      right: 10rem;
    }
  }
  @media screen and (max-width: 768px) {
    .hero .iphonex-container {
      display: none;
    }
    .hero {
      margin-bottom: 0;
      background: #6cc566;
    }
  }
</style>
