---
import CallToAction from '../CallToAction.astro';
---

<section class="mobile-separator">
  <div class="grid-12 container">
    <div class="col-1"></div>
    <div class="col-10 content">
      <h3>
        Organiser ses repas et ses courses n'aura jamais été aussi simple.
        Manger sainement non plus.
      </h3>
      <CallToAction class="white">Je m'inscris</CallToAction>
    </div>
    <div class="col-1"></div>
  </div>
</section>

<style>
  .mobile-separator {
    background: #008dd5;
  }
  .mobile-separator .content {
    text-align: center;
    color: white;
    padding: 0.2rem 0 6rem 0;
  }
</style>
