---
import CallToAction from '../CallToAction.astro';
---

<section class="second-part">
  <div class="grid-12 container">
    <div class="col-6"></div>
    <div class="col-6 content">
      <h3>
        Semaine après semaine, Octave apprend à vous connaître et adapte ses
        propositions. Vous apportez plus de variété et d'équilibre à vos repas
      </h3>
      <CallToAction class="blue small-green">Je m'inscris</CallToAction>
    </div>
  </div>
</section>

<style>
  .second-part {
    background: url('/images/second-section-bg.jpg');
    background-position: 60%;
    background-size: cover;
  }
  .second-part .content {
    text-align: center;
    color: white;
    padding: 0.2rem 0 6rem 0;
  }
  @media screen and (max-width: 768px) {
    .second-part {
      background: #6cc566;
    }
  }
</style>
