<footer class="site-footer">
  <div class="grid-12 has-gutter container">
    <div class="col-1 hide-large"></div>
    <div class="col-6-small-10">
      <div class="logo-container">
        <img src="/images/octave-logo.png" alt="Octave logo" />
      </div>
      <p class="rights">© Octave 2018 - tous droits réservés</p>
      <p class="description">
        Octave est une application mobile qui permet à ses utilisateurs de
        planifier simplement leurs repas et ceux de leurs familles parmi un
        large choix de recettes saines et goûteuses. Octave est un véritable
        assistant personnel qui aide également les utilisateurs à faire leurs
        courses facilement et en choisissant les produits les plus sains
        possibles.
      </p>
    </div>
    <div class="col-6-small-all links">
      <a href="/">Accueil</a>
      <br />
      <a href="/team">L'équipe</a>
      <br />
      <a href="/signup">Inscription</a>
      <br />
      <a href="/contact">Contact</a>
      <br />
      <a href="/confidentiality">Politique de confidentialité</a>
    </div>
  </div>
</footer>

<style>
  .site-footer {
    background-color: #373f51;
    padding: 5rem 0 15rem 0;
    color: #fff;
  }
  .site-footer .links {
    text-align: right;
    line-height: 3rem;
  }
  .site-footer .links a {
    text-decoration: none;
    color: #fff;
  }
  .site-footer .links a:hover {
    text-decoration: underline;
  }
  .site-footer .logo-container img {
    width: 20rem;
  }
  .site-footer .logo-container {
    margin-bottom: 3rem;
  }
  .site-footer .rights {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .site-footer .description {
    text-align: justify;
  }
  @media screen and (max-width: 768px) {
    .site-footer .links,
    .site-footer .logo-container,
    .site-footer .rights {
      text-align: center;
    }
    .site-footer .links {
      margin-top: 5rem;
    }
  }
</style>
