<section class="auto-grid container section">
  <div class="col-1 has-gutter">
    <slot />
  </div>
</section>

<style>
  .section {
    background-color: #fff;
    max-width: 1200px;
    margin: 5rem auto 0 auto;
  }
</style>
